.container {
    color: white;
    width: 100%;
    height: auto;
    margin-top: 20vw;
    background-color: black;
  font-family: "Kudryashev Display";

}
.jsx {
  font-family: "Kudryashev Display";

}