.paginationContainer {
    padding-top: 6vw;
    display: flex;
    justify-content:center;
    align-items: center;
    position: absolute;
    bottom: 18.11vw;
    left: calc(50% - 34.652vw / 2 + 0.5px);
    width: 40.652vw;
    height: 4.236vw;

}
